[submodule "redux-devtools-extension"]
	path = redux-devtools-extension
	url = https://github.com/zalmoxisus/redux-devtools-extension.git
[submodule "react-devtools"]
	path = react-devtools
	url = https://github.com/facebook/react-devtools
[submodule "darkreader"]
	path = darkreader
	url = https://github.com/darkreader/darkreader
[submodule "redux-devtools"]
	path = redux-devtools
	url = https://github.com/reduxjs/redux-devtools.git
